$def with (today)

<nav>
    <ul class="nav nav-pills">
        <li><a href="/"><i class="fa fa-home fa-fw"></i>Home</a></li>
    </ul>
</nav>

<section class="container">
    <form action="/add" method="post" role="form" class="form-inline">
        <div class="form-group">
            <label for="date" class="sr-only"></label>
            <input type="date" name="date" value="$today">
        </div>
        <div class="form-group"> 
            <label for="item" class="sr-only">干什么</label>
            <input type="text" name="item" class="form-control" id="item" placeholder="午餐">
        </div>
        <div class="form-group"> 
            <label for="yuan" class="sr-only">好多钱</label>
            <input type="number" step="0.1" class="form-control" name="yuan" id="yuan" placeholder="4.8">
        </div>
        <div class="form-group"> 
            <label for="type" class="sr-only">类型</label>
            <select class="form-control" name="type" id="type">
                <option value="支出">支出</option>
                <option value="收入">收入</option>
            </select>
        </div>
        <input type="submit" class="btn btn-default">
    </form>

</section>
