$def with (cash, form)

<div>

<table>
    <h2>明细</h2>

    <tr>
        <th>$u"时间"</th>
        <th>$u"类型"</th>
        <th>$u"项目"</th>
        <th>$u"数目"</th>
    </tr>

$for item in cash:
    <tr>
        <td>$item.date</td>
        <td>$item.type</td>
        <td>$item.title</td>
        <td>$item.yuan</td>
        <td>
            <form action="/del/$item.id" method="post">
                <input type="submit" id="delete" value="删除"/>
            </form>
        </td>
    </tr>
</table>

<form action="" method="post" class="form">
    <p class="title"> 
        $:form.title.render()
        <label for="title">干什么</label>
    </p>
    <p class="yuan">
        $:form.yuan.render()
        <label for="yuan">好多钱</label>
    </p>
    <p class="type">
        $:form.type.render()
        <label for="type">类型</label>
    </p>
    <p class="submit">
        <input type="submit" id="add" value="添加"/>
    </p>

</form>

<div>
